rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Images du menu
    match /menu/{menuId}/{image} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }

    // Images des restaurants
    match /restaurants/{restaurantId}/{image} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }

    // Images des utilisateurs
    match /users/{userId}/{image} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
